<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>

    <div th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="/">Home</a>
                        <a class="nav-link" href="/project/open-source">Open source</a>
                        <a sec:authorize="hasAuthority('USER')" class="nav-link" href="/resume">My resume</a>
                        <a sec:authorize="isAuthenticated() == false" class="nav-link" href="/user/signup">Sign up</a>
                        <a sec:authorize="isAuthenticated() == false" class="nav-link" href="/user/login">Log in</a>
                        <a sec:authorize="isAuthenticated()" class="nav-link" href="/user/logout">Log out</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

</body>
</html>