<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link th:insert="fragment/bootstrap.html :: style">
    <meta charset="UTF-8">
    <title>New vacancy</title>
</head>
<body>

    <header th:insert="fragment/header.html :: header">Header</header>

    <form action="#" th:action="@{/vacancy/create}" method="post" th:object="${vacancy}">

        <p th:if="${error} != null" th:text="${error}">Error</p>

        <label th:for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}"/>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect name</p>
        <br><br>

        <label th:for="salary">Salary:</label>
        <input type="text" id="salary" th:field="*{salary}"/>
        <p th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">Incorrect salary</p>
        <br><br>

        <label th:for="requiredExperience">Required experience:</label>
        <input type="text" id="requiredExperience" th:field="*{requiredExperience}"/>
        <p th:if="${#fields.hasErrors('requiredExperience')}" th:errors="*{requiredExperience}">Incorrect required experience</p>
        <br><br>

        <label th:for="aboutCompany">About company:</label>
        <input type="text" id="aboutCompany" th:field="*{aboutCompany}"/>
        <p th:if="${#fields.hasErrors('aboutCompany')}" th:errors="*{aboutCompany}">Incorrect about company</p>
        <br><br>

        <label th:for="aboutCustomer">About customer:</label>
        <input type="text" id="aboutCustomer" th:field="*{aboutCustomer}"/>
        <p th:if="${#fields.hasErrors('aboutCustomer')}" th:errors="*{aboutCustomer}">Incorrect about customer</p>
        <br><br>

        <label th:for="aboutProject">About project:</label>
        <input type="text" id="aboutProject" th:field="*{aboutProject}"/>
        <p th:if="${#fields.hasErrors('aboutProject')}" th:errors="*{aboutProject}">Incorrect about project</p>
        <br><br>

        <label th:for="requirements">Requirements:</label>
        <input type="text" id="requirements" th:field="*{requirements}"/>
        <p th:if="${#fields.hasErrors('requirements')}" th:errors="*{requirements}">Incorrect requirements</p>
        <br><br>

        <label th:for="niceToHave">Nice to have:</label>
        <input type="text" id="niceToHave" th:field="*{niceToHave}"/>
        <p th:if="${#fields.hasErrors('niceToHave')}" th:errors="*{niceToHave}">Incorrect nice to have</p>
        <br><br>

        <label th:for="responsibilities">Responsibilities:</label>
        <input type="text" id="responsibilities" th:field="*{responsibilities}"/>
        <p th:if="${#fields.hasErrors('responsibilities')}" th:errors="*{responsibilities}">Incorrect responsibilities</p>
        <br><br>

        <label th:for="companyAdvantages">Company advantages:</label>
        <input type="text" id="companyAdvantages" th:field="*{companyAdvantages}"/>
        <p th:if="${#fields.hasErrors('companyAdvantages')}" th:errors="*{companyAdvantages}">Incorrect company advantages</p>
        <br><br>

        <label th:for="additionalInformation">Additional information:</label>
        <input type="text" id="additionalInformation" th:field="*{additionalInformation}"/>
        <p th:if="${#fields.hasErrors('additionalInformation')}" th:errors="*{additionalInformation}">Incorrect additional information</p>
        <br><br>

        <div th:each="option, rowStat : *{skillInformationList}">

            <label th:for="skillName">Name:</label>
            <input type="text" id="skillName" th:field="*{skillInformationList[__${rowStat.index}__].name}"/>
            <p th:if="${#fields.hasErrors('skillInformationList[__${rowStat.index}__].name')}" th:errors="*{skillInformationList[__${rowStat.index}__].name">Incorrect skill name</p>
            <br><br>

            <button type="submit" name="indexSkill" th:value="${rowStat.index}">Remove skill</button>

        </div>

        <button type="submit" name="addSkill" value="true">Add skill</button>

        <button class="btn btn-primary" type="submit" name="save" th:value="true">Save</button>

    </form>

    <div th:insert="fragment/bootstrap.html :: script"></div>

</body>
</html>