<!DOCTYPE html>
<html lang="en">
<head>
    <link th:insert="fragment/bootstrap.html :: style">
    <meta charset="UTF-8">
    <title>Open source</title>
</head>
<body>

    <div th:each="project : ${openSourceProjects}">
        <p th:text="${project.name}"></p>
        <p th:text="${project.description}"></p>
        <p th:text="${project.stack}"></p>
        <p th:text="${project.link}"></p>
        <br><br>
    </div>

    <div th:insert="fragment/bootstrap.html :: script"></div>
</body>
</html>